name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.5'

      - name: Install protoc
        uses: arduino/setup-protoc@v2
        with:
          version: '23.x'
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Go protobuf plugins
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest

      - name: Install sqlc
        run: go install github.com/sqlc-dev/sqlc/cmd/sqlc@latest

      - name: Generate sqlc files
        run: sqlc generate

      - name: Verify generated files are up to date
        run: |
          if [[ -n $(git status --porcelain) ]]; then
          echo "Generated files are out of date. Please run 'sqlc generate' locally and commit the changes."
          git diff
          exit 1
          fi

      - name: Generate protobuf code
        run: |
          mkdir -p ./internal/proto
          protoc --go_out=. --go_opt=module=origin \
          api/proto/packets.proto          

      - name: Build
        run: go build -trimpath -o gameserver ./cmd/gameserver
